@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.offset::before {
    display: block;
    content: "";
    height: 10rem;
    margin-top: -2rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h3 {
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}

h6 {
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px;
    font-weight: normal;
}

.main_btn {
    display: inline-block;
    font-weight: 32px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 1rem;
    line-height: 3rem;
    color: #0067f4;
    cursor: pointer;
    transition: all .3s ease-in-out 0%;
    position: relative;
    z-index: 5;
}




/* Head Section */

#header {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: all .5s ease;
    z-index: 10000;
}

.nav.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 7px 10px 15px rgba(0,0,0,.3);
}

#header .navbar_toggler {
    border: none;
    outline: none;
    display: none;
}

.navbar_toggler .toggler_icon {
    width: 27px;
    height: 3px;
    background-color: #121212;
    margin: 5px 0;
    position: relative;
    display: block;
    transition: all .3s ease-out 0%;
}

#header .menu_bar #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .menu_bar #navbar li {
    margin: 0 15px;
}

#header .menu_bar #navbar li a {
    color: #121212;
    font-size: 1.125rem;
    font-weight: 600;
    transition: .3s ease;
}

#header .menu_bar #navbar li a:hover {
    color: blue;
}

#header .navbar_social {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .navbar_social span {
    font-size: 1.125rem;
    font-weight: 600;
    padding-right: 10px;
    color: #6c6c6c;
}

#header .navbar_social .social{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .navbar_social .social li {
    margin: 0 7px;
}

#header .navbar_social .social li a {
    font-size: 1.375rem;
    color: #6c6c6c;
}



/* Hero Section */

#hero {
    position: fixed;
    width: 100%;
    height: 120vh;
    background-image: url(images/6.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

#hero .overlay {
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
    width: 100%;
    height: 100%;
}

#hero .curve-shape {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

#hero .curve-shape img {
    width: 100%;
    display: block;
}

.hero_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 5rem;
}

.hero_text h6 {
    color: #1d1d1d;
}

.hero_text .hero_btn {
    margin-top: 22px;
}

.hero_text .hero_btn li {
    display: inline-block;
    margin: 10px 10px 0 0;
}

.hero_text .hero_btn li a.main_btn {
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    border: 0;
    line-height: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
}

.hero_text .hero_btn li a.main_btn i {
    margin-left: 5px;
    color: #646ee5;
}

.hero_text .hero_btn .btn_one {
    color: #fff;
}


.hero_text .hero_btn .btn_one::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    z-index: -1;
    transition: all .3s ease;
    background-position: right center;
}

.hero_text .hero_btn .btn_one:hover::before {
    background-image: linear-gradient(to left, #535cf1, #a147e4  );
    background-position: left center;
}

.hero_text .hero_btn .btn_two:hover {
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, .16);
}


/* Services Section */

#wrapper {
    margin: 5rem 7rem 10rem 7rem;
}

#wrapper .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#wrapper .service h6 {
    margin-bottom: 6rem;
}

#wrapper .service_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#wrapper .service_content .box {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#wrapper .service_content .box .box_one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#wrapper .service_content .box .box_one .services {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#wrapper .service_content .box .box_one .services i {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #535cf1;
}

#wrapper .service_content .box .box_one .services .services_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}


#wrapper .service_content .service_img {
    width: 40%;
}

#wrapper .service_content .service_img img {
    width: 100%;
}




/* Price Section */

#pricing {
    margin: 5rem 7rem 10rem 7rem;
    display: block;
    text-align: center;
}

#pricing h6 {
    margin-bottom: 6rem;
}

#pricing .basic {
    width: 355px;
    height: 100%;
    border: 1px solid #535cf1;
    border-radius: 20px;
}

#pricing .basic h3 {
    text-align: center;
    font-weight: 300;
    padding: 2.5rem 0;
    background-color: #ecf0f1;
    transition: all ease .6s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    transition: .3s ease;
}

#pricing .basic:hover h3 {
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    color: #fff;
}

#pricing .standard h3 {
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    color: #fff;
}

#pricing .table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pricing .basic .price {
    display: block;
    text-align: center;
    padding: 20px 0;
}

#pricing .basic .price .sign {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 400;
    vertical-align: middle;
}

#pricing .basic .price .currency {
    font-size: 3.75rem;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#pricing .basic .price .cent {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    vertical-align: bottom;
}

#pricing .basic .price .month {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#pricing .basic ul li {
    border-top: 1px solid #ccc;
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
    color: #7f8c8d;
}

#pricing .basic ul li i {
    padding-right: 5px;
    color: #535cf1;
}

#pricing .hero_btn {
    margin: 2rem auto;
    width: 10.625rem;
}

#pricing .hero_btn  a {
    font-weight: normal;
    font-size: 1.125rem;
    border-radius: 50px;
    outline: medium none;
    border: 1px solid #2ecc71;
    color: #1d1d1d;
    transition: all ease .3s;
}

#pricing .standard .hero_btn a {
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    color: #fff;
    border: 1px solid #2ecc71;
}

#pricing .basic:hover .hero_btn a {
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    color: #fff;
    border: 1px solid #2ecc71;
}




/* Call-to-Action Section */

.callToAct {
    margin: 5rem 7rem 10rem 7rem;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #910afa),url(images/2.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;
}

.callToAct .parallax {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.callToAct .parallax h3,
.callToAct .parallax p {
    color: #fff;
}

.callToAct .parallax p {
    font-size: 1.125rem;
    padding: 1.25em 0;
}

.callToAct .parallax .call__news {
    background-color: #fff;
    max-width: 450px;
    margin: auto;
    border-radius: 50px;
    padding: 12px 0 12px 15px;
    position: relative;
}

.callToAct .parallax .call__news i {
    color: #535cf1;
    padding-right: 10px;
    font-size: 1.125rem;
}

.callToAct .parallax .call__news input {
    border: none;
    outline: none;
    font-size: 1.1rem;
}

.callToAct .parallax .call__news button {
    background-image:linear-gradient(to right, #535cf1, #a147e4);
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 50px;
}




/*  Contact Section */

.contact {
    margin: 5rem 7rem 10rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact h6 {
    margin-bottom: 3rem;
}

.contact .form {
    width: 70%;
}

.contact .form .first__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.contact .form .first__row input {
    width: 47%;
    height: 56px;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
}

.contact .form textarea {
    width: 100%;
    resize: none;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
    font-family: "Poppins", sans-serif;
    padding-top: 15px;
}

.contact .form .hero_btn {
    margin: 2rem auto;
    width: 170px;
}

.contact .form .hero_btn a {
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    color: #fff;
    border: none;
    font-size: 1.125rem;
    font-weight: normal;
    outline: none;
    border-radius: 50px;
}





/* Footer Section */

#footer {  
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
}

#footer .container {
    margin: 5rem 7rem 5rem 7rem;
}

#footer .socia-media__container {
    display: flex;
    align-items: center;
    text-align: center;    
}

#footer .socia-media__container ul {
    display: flex;
}

#footer .socia-media__container ul li {
    margin-left: 1rem;
}

#footer .socia-media__container ul li a {
    color: #6c6c6c;
}

#footer .info__container {
    display: flex;
    justify-content: space-between;
}

#footer .info__container .box {
    width: 20%;
    margin-top: 1.5rem;
}

#footer .info__container .box p {
    font-weight: 500;
}

#footer .info__container .box .details {
    display: flex;
    flex-direction: column;
    margin-top: .8rem;
}

#footer .info__container .box .details a {
    margin-bottom: .5rem;
    color: rgb(112, 111, 111);
    transition: all .3s;
    display:inline-block;
}

#footer .info__container .box .details a:hover {
    color: black;
}

#footer .info__container .box .details p {
    color: rgb(112, 111, 111);
}

#footer .info__container .box .details input {
    padding: 1em 2em;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: .5rem 0 1rem 0;
    background-color: rgb(234, 234, 234);
}






/* ---------------- Media Queries ------------ */

@media only screen and (max-width: 946px) {

    #header {
       padding: 1rem 1rem;
    }

    #header .navbar_social {
        display: none;
    }


    /* Hero Section */


    .hero_text {
        width: 60%;
    }

    .hero_text h3 {
        font-size: 33px;
    }


    /* Service Section */

    #wrapper {
        margin: 3rem 3rem 10rem 3rem;
    }

    #wrapper {
        margin-bottom: 3rem;
    }

    #wrapper h6 {
        margin-bottom: 3rem;
    }

    #wrapper .service_content {
        flex-direction: column-reverse;
        justify-content: center;
    }

    #wrapper .service_content .box {
        width: 100%;
    }

    #wrapper .service_content .box .box_one {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #wrapper .service_content .service_img {
        width: 100%;
        margin-bottom: 5rem;
    }



    /* Pricing Section */

    .pricing .table {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .pricing .basic {
        margin-bottom: 3rem;
    }



    /* Call to action Section */

    .callToAct {
        margin-bottom: 5rem;
    }

    .callToAct .parallax {
        width: 80%;
    }

    .contact .form {
        width: 80%;
    }




}